.surface-1 {
	.cell {
		&.has-content {
			font-size: 1vmax;
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&.text-1 {
			background-color: lightyellow;
		}

		&.text-2 {
			background-color: white;
		}
	}

	@for $i from 1 to 16 {
		.row-#{$i} {
			background-color: darken(aliceblue, $i * 1%);
		}
	}
}
