.surface-1 {
	.cell {
		&.has-content {
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&.text-1 {
			font-size: 4vmax;
		}

		&.text-2 {
			font-size: 4vmax;
			//color: lightyellow;
		}
	}

	@for $i from 1 to 16 {
		.row-#{$i} {
			//background-color: darken(aliceblue, $i * 1%);
		}
	}
}
